# Requirements which are not versioned.
defusedxml
distro
jira
junit_xml
meson
ninja
pyelftools
pyxattr
pyyaml
# scons 4.5 not compatible with DAOS currently
scons<4.5.0        # Works around a bug in scons on EL 8.
tabulate
wheel
